@tailwind utilities;

.text-gold {
  color: #b58200;
}

.text-dark-gold {
  color: #8a5d1a;
}

.text-grey {
  color: #828282;
}

.text-black-1 {
  color: #373131;
}

.text-brown {
  color: #4D4D4D;
}

.bg-peach {
  background-color: #FFF7F0;
}

.bg-dark-peach {
  background-color: #F4E6D0;
}

.bg-dark-gold {
  background-color: #8a5d1a;
}

.bg-neekah-1 {
  background-color: #F8F7F4;
}

.bg-neekah-2 {
  background-color: #f8f7f4;
}

.bg-position-mobile {
  background-position: 84% 0px;
}

.bg-position-desktop {
  background-position: center;
}

.border-gold {
  border-color:#b58200;
}

.admin-contact {
  font-weight: bold;
  text-decoration: underline;
  color: #b58200;
}

.admin-contact:hover {
  color: #8a5d1a;
}

@layer utilities {
  @variants hover {
    .text-gold {
      color: #b58200;
    }
    .text-dark-gold {
      color: #8a5d1a;
    }
    .border-gold {
      border-color:#b58200;
    }
    .border-dark-gold {
      border-color:#8a5d1a;
    }
    .bg-gold {
      background-color: #b58200;
    }
    .bg-dark-gold {
      background-color: #8a5d1a;
    }
    .garis-gold {
      box-shadow: 0em -0.5em 0 #b58200 inset;
    }
    .garis-peach {
      box-shadow: 0em -0.5em 0 #F4E6D0 inset;
    }
  }
}